body{
    margin: 0;
    padding: 0;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
    color: rgb(0, 149, 0);   
    overflow: hidden;
}

a{
    color: rgb(119, 149, 0);    
}

.pages{
    position: fixed;

    background-color: rgba(0, 0, 0, 0.1);
    width: fit-content;
    position: absolute;
    left: 0;
    top: 2vh;

    border-radius: 0px 50px 50px 0px;
    backdrop-filter: blur(8px);

    z-index: 500;
}

.pages ul{
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

.pages a{
    color: white;
    text-shadow: 0 10px 5px rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: text-shadow 0.3s ease-in-out;

    display: block;
    text-align: center;
    padding: 15px;}

.pages li{
    float: left;
}

.pages a:hover{
    text-shadow: 0 0 5px rgb(0, 22, 0), 0 0 10px rgb(40, 40, 40), 0 0 10px rgb(153, 153, 153), 0 0 10px rgb(142, 142, 142);
}

.pages .hometext{
    font-family: "FreakyPaperCutouts";
    font-size: 20px;
    color: rgb(0, 191, 255);
    text-shadow: 1px 2px 5px rgb(33, 32, 51);
}

.pages .hometext:hover{
    text-shadow: 0 0 5px rgb(3, 0, 96), 0 0 10px rgb(0, 28, 131), 0 0 10px rgb(0, 83, 177), 0 0 10px rgb(0, 149, 255);
}

.crtscreen{
    position: relative;
    width: 80vw;
    min-width: 80vw;
    height: 80vh;
    min-height: 80vh;
    padding: 20px;
    
    overflow: auto;

    background: repeating-linear-gradient(to bottom, rgba(0, 255, 0, 0.1) 0px, rgba(0, 255, 0, 0.1) 2px, transparent 2px, transparent 4px);
    background-attachment: scroll;

    border: 4px solid rgb(45, 45, 45);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.3);

    background-color: rgba(0, 20, 0, 1);
}

.crtscreen::before{
    content: " ";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: 100% 0.2em;
    pointer-events: none;
}

@keyframes flicker{
    0%{
        opacity: 0.95;
    }
    5%{
        opacity: 0.9;
    }
    10%{
        opacity: 0.85;
    }
    15%{
        opacity: 0.92;
    }
    20%{
        opacity: 0.98;
    }
    25%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.crtscreen::after{
    content: " ";
    
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    animation: flicker 0.15s infinite;
    pointer-events: none;
}

.terminaltext{
    white-space: pre-wrap;

    font-size: 1.2em;
    line-height: 1.4;
}

.everything{
    text-shadow: 0 0 5px rgba(0, 107, 0, 0.8);

    width: 100%;
    padding: 2px;
    box-sizing: border-box;

    opacity: 0;
    transition: opacity 0.5 ease;
}

.everything .gif{
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.python_projects h1{
    color: yellow;
    text-shadow: 3px 3px 3px rgba(164, 169, 0, 0.8);
}

.python_projects h2{
    color: rgb(0, 98, 255);
    text-shadow: 3px 3px 3px rgba(0, 76, 169, 0.973);
}

.games_and_prototypes h1{
    color: white;
    text-shadow: 3px 3px 3px rgba(217, 217, 217, 0.973);
}

.games_and_prototypes h2{
    color: rgb(88, 88, 88);
    text-shadow: 3px 3px 3px rgba(66, 66, 66, 0.973);
}

.games_and_prototypes{
    gap: 15px;
}